body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/688/947/718/nature-full-hd-image-1920x1080-wallpaper-preview.jpg);
    background-size: cover;
}

header{
    padding: 100px;
    margin: 0 20%;
    color: lemonchiffon;
    text-align: center;
}

.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.4);
    text-align: center;
}
.box h1{
    color: beige;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(226, 244, 92);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus, .box input[type="password"]:focus
{
    width: 270px;
    border-color: rgb(226, 244, 92);
}

.box input[type="submit"]{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(229, 218, 192);
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: rgb(165, 129, 86);
}